<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= link_to 'Stretto', root_path %> </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href=<%= festivals_path%>>Explore</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="home-pg-grid-flex mdl-shadow--4dp">
        <div class="coverr">
          <div class="side-intro">
            <div class="left-container">
              <div class="user-actions">
                <div class="homepg-icon">
                  <i class="material-icons" style="font-size: 60px;">settings_input_composite</i>
                </div>
                <div class="user-actions-title">
                  <h2><i>Stretto</i></h2>
                </div>
                <div class="user-actions-sign-up">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">SIGN-UP</button>
                </div>
                <div class="user-actions-acct">
                  <h5>-- Already have an account? --</h5>
                </div>
                <div class="user-actions-login">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">LOGIN</button>
                </div>
              </div>
            </div>
            <div class="right-container">
              <h2>Find the right festival, right now</h2>
              <h4>From rap, rock, to country or jazz, search hundreds of festivals around the country...</h4>
              <div class="mission_one">
                <div><i class="material-icons check-icon" style="font-size: 28px;">check_circle</i></div>
                <div><h6>Search & discover live music you'll love</h6></div>
              </div>
              <div class="mission_two">
              <div><i class="material-icons check-icon" style="font-size: 28px;">check_circle</i></div>
              <div><h6>Create watchlists of your favorites</h6></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </main>
</div>
