/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 




/* Navigation Bar to top of page */
body {
    margin: 0 auto;
    background: #F5F5F5;
    font-family: "Roboto", sans-serif;
}

.festival-card {
    border: 2px solid blue;
    display: flex;
    width: 100%;
    overflow: auto;
}

 .festival-card-container {
    border: 2px solid red;
    background: #FFF;
    min-width: 412px;
    margin: 4px;
} 

 .festival-card-image-tile {
    width: 100%;
    height: 170px;
} 

