/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Lobster');



/* MDL modifications */

.mdl-layout__drawer-button i {
    color: white;
    font-size: 26px;
}

.mdl-layout__drawer-button {
     margin-top: 4px;
     margin-bottom: 4px;
}

.mdl-layout-title a {
    text-decoration: none;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 26pt;
    font-weight: 100;
}

.mdl-navigation a {
    font-size: 12pt;
    font-weight: 100;  
    letter-spacing: 2px;
}


/* Site styling */


body {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.86);
    font-family: "Roboto", sans-serif;
    color: white;
}

/* Homepage styling */

.home-pg-grid-flex {
    width: 100%;
    height: 92vh;
    display: flex;
}
.side-intro {
    width: 60vw;
    height: 53vh;
    margin: 0 auto;
    margin-top: 11%;
    display: flex;
}
.left-container {
    height: 100%;
    width: 50%;
    border-right: 3px solid #e53935;
    padding: 5px;
    display: flex;
    align-items: center;
}

.right-container {
    height: 100%;
    width: 50%;
    padding: 5px;
}

.coverr {
    height: 100%;
    width: 100%;
    background-image: url("homepgparty.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.check-icon {
    color: #e53935;
}

div:nth-child(1) > i {
    margin-top: 40%;
}

.right-container h2,
.right-container h4,
.right-container h6 {
    margin-left: 2%;
    font-weight: 200;
}

.mission_one {
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
}

.mission_two {
   display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center; 
}

.user-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.user-actions-login,
.user-actions-sign-up {
    width: 100%;
    text-align: center;
}

.user-actions-login .button,
.user-actions-sign-up .button {
    width: 70%;
    letter-spacing: 2px;
}

.user-actions-acct h5 {
    color: rgba(250, 250, 250, 0.6);
    font-size: 12pt;
    font-weight: 200;
}


/* Card and container */

.festival-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .festival-card-container {
    background: #1e1f21;
    min-width: 322px;
    margin: 12px;
    border-radius: 1%;
    height: 485px;
} 

#scroll-tab-1 > div > h1,
#scroll-tab-2 > div > h1,
#scroll-tab-3 > div > h1,
#scroll-tab-4 > div > h1 {
    width: 40%;
    font-weight: 100;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #c62828;

}

/* Festival image and title */

 .festival-card-image-tile {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 1%;
} 

.festival-title {
    width: 100%;
    background: black;
    opacity: .7;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

 .festival-title h5 {
    color: rgba(250, 250, 250, 1);
    font-size: 17pt;
    font-weight: 100;
    margin: 2px;
}



/* Festival info */

.festival-info{ 
    padding-left: 18px;
    font-size: 11.5pt;
}

.festival-info h5 {
    font-weight: 100;
    color: rgba(250, 250, 250, 0.8);
}

.festival-time{
    padding-left: 18px;
    opacity: 0.7;
}

.festival-location {
    opacity: 0.7; 
    font-weight: 100;
}


/* Learn more & tickets link */

.tickets-link {
    border-top: 2px solid rgba(250, 250, 250, 0.05);
    font-weight: 100;
}


.tickets-link span {
    font-size: 9pt;
    font-weight: 100;
    color: rgba(250, 250, 250, 0.4);
    margin-left: 60px;
}

.tickets-link:nth-child(3) {
    text-align: center;
    opacity: 0.80;
}
 
#link-btn a {
    margin-top: 10px;
    letter-spacing: 2px;
}


/* Single page styling */

.header-pic {
    width: 35%;
    height: 350px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    padding: 10px;
    height: 55%;
}

.performer-info {
    width: 15%;
    padding: 10px;
    font-size: 12pt;
    font-weight: 100;
    letter-spacing: 1px;
}

.s-pg-layout {
    margin: 0 auto;
    width: 80%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 2%;
    flex-direction: column;
}

.buy-now-btn {
    width: 100%;
    border-top: 1px solid white;
}

.s-pg-layout button {
    font-size: 12pt;
    width: 100%;
}

.s-pg-grid-flex {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 50vh;
}

.recommendations {
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recommendations h1 {
    font-weight: 100;
    font-size: 20pt;
}



.s-artist-rec {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
}

.rec-artist-card {
    width: 45%;
    height: 30%;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.s-artist-rec {
    font-size: 12pt;
}

.rec-info {
    width: 45%;
    height: 90%;
    font-weight: 200;
    font-size: 16pt;
    padding: 0 2px 0 2px;
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 30px;
    border-radius: 2%;
}

.rec-name {
    width: 60%;
    border-bottom: 3px solid #009688;
}

.rec-card-img {
    width: 50%;
    height: 90%;
    background-size: cover;
    border-radius: 2%;
}

.rec-overlay {
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.s-pg-layout h3, 
.s-pg-layout h5 {
    font-weight: 100;
    margin: 0;
}

.s-pg-layout a {
    margin: 20px;
    text-decoration: none;
}


/* User Pages - Login - Signup - User Profile */

.field em { 
    font-size: 8pt;
    margin-left: 30%;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e53935;
    width: 30%;
    margin: 20px;
    padding: 20px;
    height: 50vh;
}

.sign-up-frame input {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    padding-top: 10px;
    width: 100%;
    font-size: 20pt;
}

.sign-up-frame label{
    font-size: 14pt;
    padding-top: 10%;
}

.email,
.password,
.confirmation {
    padding-top: 10px;
}

.actions button {
    height: 20%;
    background: #4DB6AC;
}

.actions button input {
    border: none;
}

.sign-up-title h2 {
    margin-left: 20px;
    padding-top: 20px;
    color: black;
}

.sign-up-background {
    width: 100%;
    height: 95vh;
    background: url("https://static.pexels.com/photos/93490/pexels-photo-93490.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.log-in-link {
    font-size: 14pt;
    margin-left: 5px;
    padding-top: 5px;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 60%;
}


/* User Favorites */

th {
    font-family: 'Roboto', sans-serif;
}

th i {
    position: relative;
    top: 6px;
}

thead:hover {
    background: rgba(0, 0, 0, 0.80);
}

table {
    margin: 0 auto;
    margin-top: 40px;
}

.fav-background {
    height: 100%;
    width: 100%;
    background-image: url('nick-green-crowd.jpg');
    background-size: cover;
    background-attachment: fixed;
}
